#filter {
  display: flex;
  flex-wrap: wrap;
  ul.dropdown {
    z-index: 10;
    display: block;
    @include media(phone) {
      width: 100%;
      margin: 0px 0px 20px 0px;
      height: max-content;
    }
    @include media(desktop) {
      width: 170px;
      margin: 0px 20px 0 0px;
      height: 69px;
    }
    list-style: none;
    position: relative;
    cursor: pointer;
    padding: 0 0 0;
    border-radius: 5px;
    li.label {
      position: absolute;
      top: 18px;
      left: -90px;
      background: #fff;
      color: black;
      font-weight: 700;
      @include font-size(18);
    }
    li#selected {
      list-style-position: inside;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
      height: 69px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 5px;
      input {
        width: 100%;
        height: 100%;
        background-color: transparent;
        @include font-size(18);
        font-weight: 700;
        padding: 0px 15px;
        color: white;
        border-radius: 5px 5px 0px 0px;
        text-align: left;
        cursor: pointer;
        border: 0;
        transition: transform 4s linear;
        outline: none;
        &:focus {
          outline: none;
        }
        &::placeholder {
          text-transform: capitalize;
          color: white;
          opacity: 1;
        }
      }
    }
    li.list-container {
      position: relative;
      ul.list {
        padding: 0px 20px 20px 20px;
        li.list-item {
          width: 35%;
          padding: 3px 5px;
          transition: background-color .1s linear, color .1s linear;
          color: white;
          list-style-position: inside;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-weight: 400;
          position: relative;
          @include media(phone) {
            @include font-size(16);
          }
          @include media(desktop) {
            @include font-size(15);
          }
          @include media(bigDesktop) {
            @include font-size(18);
          }
          &::first-letter {
            text-transform: uppercase; 
          }
          &:hover {
            background: rgb(000, 000, 000, 0.5);
          }
        }
      }
    }
    &::before {
      content: "\f078";
      position: absolute;
      z-index: 11;
      right: 10px;
      top: 24px;
      transition: transform .2s linear;
      color: white;
      font-weight: 900;
      font-family: 'FontAwesome';
    }
  }
  ul.dropdown:last-child {
    margin-right: 0px;
    margin-bottom: 0px;
  }
  ul.dropdown.arrowOpen {
    border-radius : 5px 5px 0px 0px !important;
    @include media(phone) {
      width: 100%;
    }
    @include media(desktop) {
      width: 40vh;
    }
    @include media(bigDesktop) {
      width: 70vh;
    }
  }

  ul.dropdown.appareil, 
  ul.dropdown.appareil ul.list {
    background: $color-filtre-two;
  }
  ul.dropdown.ustensiles, 
  ul.dropdown.ustensiles ul.list {
    background: $color-filtre-three;
  }
  ul.dropdown.ingredients, 
  ul.dropdown.ingredients ul.list  {
    background: $color-filtre-one;
  }

  ul.dropdown.arrowOpen::before {
    transform: rotate(-180deg);
  }
  
  ul.list {
    width: 100%;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    transition: opacity .1s cubic-bezier(0, 0, 0.38, 0.9), max-height .5s cubic-bezier(0, 0, 0.38, 0.9);
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 0px 0px 5px 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  ul.open {
    opacity: 1;
    overflow: auto;
    max-height: 360px;
    z-index: 1000;
    position: relative;
    @include media(phone) {
      width: 100%;
    }
    @include media(desktop) {
      width: 40vh;
    }
    @include media(bigDesktop) {
      width: 70vh;
    }
  }
}